out/
incremental_db/
output_files/
simulation/
greybox_tmp/
db/
*.bak
waves/
/repport/
/misc/
/WeightedRankOrderFilter/
.nvim
.rules.verible_lint
Masked2DFilterOld/
latex/
#*
##!/riscV/src/*.v
#!.gitignore
#!*.v
#!*.qip
#!*.qpf
#!*.qsf
#!*.qsf
#!*.sdc
#!*.mif
#!*.py
#!*.hex
